#checkpoint-area-template {
    display: none;
}

.checkpoint-output-box {
    width: 100%;
    min-height: 50px;
    background-color: #161616;
    border-radius: var(--textarea-radius);
    border-style: solid;
    border-color: #393939;
    border-width: 2px;

    box-sizing: border-box;
    padding: 12px;

    margin-top: 8px;
}

.check-answers-button {
    border: solid;
    border-width: 2px;
    border-color: transparent;

    background-color: #232323;
    text-align: left;
    font-size: var(--font-size);
    color: white;
    font-family: var(--global-font);
    font-weight: bold;

    transition: border-color 100ms ease, background-color 100ms ease;

    border-radius: 8px;
    padding: 6px 8px;
    min-height: 40px;
    width: 100%;
    margin: 2px 0;
    display: block;
    box-sizing: border-box;

    cursor: pointer;

    position: relative;

    z-index: 2;

    user-select: none;
    
    text-align: center;

    -webkit-tap-highlight-color: transparent;

    touch-action: manipulation;
}

.check-answers-button:hover {
    border-color: #3f3f3f;
    background-color: #282828;
}

.check-answers-button:active {
    border-color: #595959;
    background-color: #393939;
}

.checkpoint-page .inline-circle {
    font-family: var(--global-font);
    font-size: var(--font-size);
}

.checkpoint-error-box, .checkpoint-error-box > * {
    white-space: pre;
}

.checkpoint-error-msg {
    padding-bottom: 0;
    margin-bottom: 0;
    color: #aaaaaa;
}

.checkpoint-output-box > * {
    width: 100%;
}

.checkpoint-code-output {
    width: 100%;
    text-align: center;
    border-radius: 8px;
    background-color: #111111;
    padding: 12px;
    margin-top: 8px;
    box-sizing: border-box;
    user-select: all;
    word-wrap: break-word;
}